<template name="postSubmit">
  
 
  <form class="main form">
    <div class="form-group">
    <label class="control-label" for="person_name">上传照片</label>
      <div class="controls">
        <input type="file" id="userimage" name="userimage" class="form-control" />
      </div>
    </div>




    <div class="form-group">
      <label class="control-label" for="person_name">姓名</label>
      <div class="controls">
          <input name="person_name" id="person_name" type="text" value=""  class="form-control"/>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label" for="person_gender">性别</label>
      <div class="controls">
          <select name="person_gender" id="person_gender" class="form-control">
            <option value="男">男</option>
            <option value="女">女</option>
          </select>


          
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="person_birthday">生日</label>
      <div class="controls">
         <input name="person_birthday" id="person_birthday" type="text" value=""  class="form-control"/>        
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">证件类型</label>
      <div class="controls">
          <select name="person_id_type" id="person_id_type" class="form-control">
            <option value="居民身份证">居民身份证</option>
            <option value="军官证">军官证</option>
            <option value="武警警官证">武警警官证</option>
            <option value="士兵证">士兵证</option>
            <option value="港澳居民往来内地通行证">港澳居民往来内地通行证</option>
            <option value="台湾居民往来内地通行证">台湾居民往来内地通行证</option>
            <option value="外国护照">外国护照</option>
          </select>


          
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">证件号码</label>
      <div class="controls">
          <input name="person_id" id="person_id" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <input type="submit" value="提交" class="btn btn-primary"/>
  </form>
</template>



<template name="profile">
  <div>
    <form>
     <input type="file" id="userimage" name="userimage"/>
     <button type="submit">Upload</button>
    </form>
  </div>
</template>