<template name="postPage">
  <img src="{{c.url}}">
  <p>{{person_name}}</p>
  
  <p>{{person_birthday}}</p>
  <p>{{person_gender}}</p>
  <p>{{person_id_type}}</p>
  <p>{{person_id}}</p>
  
</template>